body
{
font-size: 16px;
color: black;
background-color: #fff;
}

#header-nav
{
    text-align: center;
    background-color:whitesmoke;
    border-radius: 0;
    padding-bottom:10px;
    border:2px black solid;
}
.navbar-header>a
{
    font-size: 34px;
    font-family: oxygen;
    font-weight: bolder;
}

.navbar-header button.navbar-toggle,.navbar-header .icon-bar
{
    border: 1px solid blue;
}

.navbar-header button.navbar-toggle:focus{
    background-color: lightblue;
    border: 1px solid black; /* Changes toggle color on hover */
  }

.navbar-default .navbar-nav>li>a{
    color: #333;
    background-color: greenyellow;
    border-bottom:3px solid black;
}
.navbar-default .navbar-nav>li>a:hover {
    background-color:white;
    
}

.navbar-default .navbar-nav
{
    margin:0px -15px;
}

@media (max-width:767px)
{
    #header-nav
    {
        padding-bottom: 0px;
    }
    .navbar-default .navbar-nav
    {
        margin:0px -15px;
        padding-bottom:-10px;
    }
      
}

#main-content .row div .in
{
    
    background-color: lightslategray;
    border: 1px solid black;
    width:90%;
    margin:10px auto;
    padding:10px;
    
}
